<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href="/game.css" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="/game.js"></script>
</head>
<body>
  <div class="container">
    <div class="jumbotron text-center">
      <div id="loader" style="display:none;"><img src='http://www.baxcha.com/images/ajax-loader.gif'/></div>
      <div id="movie-info">
        <h1><%= @first_movie.title %></h1>
        <div id="id-holder" style="visibility:hidden;"><%= @ids %></div>
        <span id="critics-score" style="display:none;" data-score=<%= @first_movie.ratings.critics_score %>><%= @first_movie.ratings.critics_score %></span>
        <div id="current-movie">
          <img src="<%= @first_movie.posters.thumbnail %>">
          <span id="actors"><i><%= @first_movie.abridged_cast.map {|actor| actor.name}.join(", ") %></i></span>
          <h3 id="year"><%= @first_movie.year %></h3>
        </div>
        <button class="btn btn-primary" style="display:none" id="next-movie">next movie</button><br>
      </div>
    </div>
    <div class="row">
      <div id="playing-area">
        <div class="col-md-4 player text-center">
          <img src="/img/bryan.png">
          <div class="input-group" id="input-group-1">
            <input type="text" class="form-control" id="p1-guess"><span class="input-group-addon">current score: <span id="p1-score">0</span></span>
          </div>
        </div>
        <div class="col-md-4 player text-center">
          <img src="/img/adam.png">
          <div class="input-group" id="input-group-2">
            <input type="text" class="form-control" id="p2-guess"><span class="input-group-addon">current score: <span id="p2-score">0</span></span>
          </div>
        </div>
        <div class="col-md-4 player text-center">
          <img src="/img/alison.png">
          <div class="input-group" id="input-group-3">
            <input type="text" class="form-control" id="p3-guess"><span class="input-group-addon">current score: <span id="p3-score">0</span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <button class="center-block btn btn-primary big-button" id="submit-guesses">submit all guesses</button>
      <form action="/" method="get" id="restart-button" style="display:none;">
        <button class="center-block big-button btn btn-success" id="search" type="submit" value="restart">Start new Game</button>
      </form>
    </div>
  </div>
</body>