<head>
  <link href="/index.css" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/index.js"></script>
</head>
<form action="/searchMovies" method="post">
  <input type="text" name="title">
  <input id="search" type="submit">
</form>
<div id="search-results">
  <div id="ajax-results"></div>
  <ul id="possible-matches-list">
  </ul>
  <% if @movies %>
    <% if @movies.is_a?(Array) && !@movies.empty? %> <!-- for multiple results (array) -->
      <ul id="possible-matches-list">
        <% @movies.each do |movie| %>
          <li style="list-style-none:none;">
            <img src=<%=movie.posters.thumbnail%>>
            <h3><%= movie.title %></h3>
            <% movie.abridged_cast.each do |actor| %>
              <%= actor.name %>
            <% end %>
            <h3><%= movie.year %></h3><button class="add" data-title=<%= movie.title %> data-movieId=<%= movie.id %>>add to game</button>
          </li>
        <% end %>
      </ul>
    <% elsif !@movies.is_a?(Array) %> <!-- for single result (patched open struct) -->
      <div id="single-result">
        <img src=<%=@movies.posters.thumbnail%>>
        <h3 style="display:inline;"><%= @movies.title %></h3>
        <% @movies.abridged_cast.each do |actor| %>
          <%= actor.name %>
        <% end %>
        <h3><%= @movies.year %></h3><button class="add">add to game</button>
      </div>
    <% else %> <!-- for no results (empty array) -->
      <h2>No matching movies found!</h2>
    <% end %>
  <% end %>
</div>
<div id="upcoming-game">
  <h2>Upcoming Game</h2>
  <% @upcoming_game.each do |thing| %>
    <%= thing %>
  <% end %>
</div>
<form action="/start" method="post">
  <input type="hidden" id="mov-ids" name="movies">
  <button id="start-game" type="submit" value="">START GAME!</button>
</form>
<form action="/" method="get">
  <input id="search" type="submit" value="restart">
</form>








